---
export const prerender = true;
import { render } from "astro:content";
import { getEntry } from "astro:content";
import { slugify } from "@util/string";
import { getAllPosts, getSeriesPosts } from "@util/content";

import { AiOutlineArrowLeft } from 'solid-icons/ai';

import Heading from "@component/Heading.astro";
import BaseLayout from "@layout/BaseLayout.astro";
import SeriesTable from "@component/SeriesTable.astro";
import TableOfContent from "@component/TableOfContent";

import Blockquote from "@mdxComponent/Blockquote.astro";
import H1 from "@mdxComponent/H1.astro";
import H2 from "@mdxComponent/H2.astro";
import H3 from "@mdxComponent/H3.astro";
import H4 from "@mdxComponent/H4.astro";
import OrderedList from "@mdxComponent/OrderedList.astro";
import UnorderedList from "@mdxComponent/UnorderedList.astro";
import HorizontalRule from "@mdxComponent/HorizontalRule.astro";
import Table from "@mdxComponent/Table.astro";
import TableRow from "@mdxComponent/TableRow.astro";
import TableHeader from "@mdxComponent/TableHeader.astro";
import TableData from "@mdxComponent/TableData.astro";
import Anchor from "@mdxComponent/Anchor.astro";
import Img from "@mdxComponent/Img.astro";
import Paragraph from "@mdxComponent/Paragraph.astro";


export function getStaticPaths() {
    const allPosts = getAllPosts();

    return Array.from(allPosts).map((post) => ({
        params: { 
            slug: post.frontmatter.title.toLowerCase().replace(/ /g, '-')
        },
    }));
}

const dateObject: object = {
    year: "numeric",
    month: "long",
    day: "numeric"
}

const { slug } = Astro.params;
const post = await getEntry('posts', slug);

if (!post.data.published) {
    return Astro.redirect("/404");
}

const { Content, headings } = await render(post);
---

<BaseLayout
    pageTitle={post.data.title}
    pageDescription={`${post.data.title}: ${post.data.description}`}
    keywords={post.data.keywords}
>
    <a href="/posts" class="flex font-semibold hover:underline"><AiOutlineArrowLeft class="my-auto mr-1"/>Back</a>
    <div class="flex gap-2 mt-5 mb-2 text-slate-700">
        {
            post.data.tag && (
                <a 
                    class="underline cursor-pointer"
                    href={`/tag/${slugify(post.data.tag)}`}
                >{post.data.tag}</a>
            )
        }
        <p>•</p>
        {
            post.data.publishedDate && (
                <div>{new Date(post.data.publishedDate).toLocaleDateString("en-US", dateObject)}</div>
            )
        }
    </div>
    <div class="mb-10">
        <Heading as="h1" weight="bold" class="lg:text-4xl text-3xl">{post.data.title}</Heading>
        <p class="text-slate-600">{post.data.description}</p>
    </div>
    {
        post.data.series && (
            <SeriesTable series={post.data.series} posts={getSeriesPosts(post.data.series)} currentPost={post.data.title} />
        )
    }
    <Content
        class="w-fit" 
        components={{
            h1: H1,
            h2: H2,
            h3: H3,
            h4: H4,
            ol: OrderedList,
            ul: UnorderedList,
            hr: HorizontalRule,
            a: Anchor,
            table: Table,
            th: TableHeader,
            tr: TableRow,
            td: TableData,
            blockquote: Blockquote,
            img: Img,
            p: Paragraph,
        }}
    />
    {
        headings &&
            <TableOfContent url={`/posts/${slug}`} headings={headings} client:load />
    }
</BaseLayout>