---
import type { MarkdownInstance } from "astro";
import type { Frontmatter } from "../../types/frontmatter.ts";
import { render } from "astro:content";
import { getEntry } from "astro:content";

import { AiOutlineArrowLeft } from 'solid-icons/ai';

import Heading from "../../components/Heading.astro";
import BaseLayout from "../../layouts/BaseLayout.astro";
import TableOfContent from "../../components/TableOfContent";

import Blockquote from "../../components/mdx/Blockquote.astro";
import H1 from "../../components/mdx/H1.astro";
import H2 from "../../components/mdx/H2.astro";
import H3 from "../../components/mdx/H3.astro";
import H4 from "../../components/mdx/H4.astro";
import H5 from "../../components/mdx/H5.astro";
import H6 from "../../components/mdx/H6.astro";
import OrderedList from "../../components/mdx/OrderedList.astro";
import UnorderedList from "../../components/mdx/UnorderedList.astro";
import HorizontalRule from "../../components/mdx/HorizontalRule.astro";
import Table from "../../components/mdx/Table.astro";
import TableRow from "../../components/mdx/TableRow.astro";
import TableHeader from "../../components/mdx/TableHeader.astro";
import TableData from "../../components/mdx/TableData.astro";
import Anchor from "../../components/mdx/Anchor.astro";
import Img from "../../components/mdx/Img.astro";
import Paragraph from "../../components/mdx/Paragraph.astro";

import { getSortedWorks } from "../../utils/content.ts";
import { slugify } from "../../utils/string.ts";

export function getStaticPaths() {
    const allWorks = getSortedWorks();

    return Array.from(allWorks).map((work) => ({
        params: { slug: slugify(work.frontmatter.title) },
    }));
}

const dateObject: object = {
    year: "numeric",
    month: "long",
    day: "numeric"
}

const { slug } = Astro.params;
const work = await getEntry('works', slug)

if (!work.data.published) {
    return Astro.redirect("/404");
} 

const { Content, headings } = await render(work);
---

<BaseLayout>
    <a href="/works" class="flex font-semibold hover:underline"><AiOutlineArrowLeft class="my-auto mr-1"/>Back</a>
    <div class="flex gap-2 mb-2 text-slate-700">
        {
            work.data.tag && (
                <p>{work.data.tag}</p>
            )
        }
        <p>•</p>
        {
            work.data.publishedDate && (
                <div>{new Date(work.data.publishedDate).toLocaleDateString("en-US", dateObject)}</div>
            )
        }
    </div>
    <div class="mb-10">
        <Heading as="h1" weight="bold" class="lg:text-4xl text-3xl">{work.data.title}</Heading>
        <p class="text-slate-600">{work.data.description}</p>
    </div>
    <Content
        class="w-fit"
        components={{
            h1: H1,
            h2: H2,
            h3: H3,
            h4: H4,
            h5: H5,
            h6: H6,
            ol: OrderedList,
            ul: UnorderedList,
            hr: HorizontalRule,
            a: Anchor,
            table: Table,
            th: TableHeader,
            tr: TableRow,
            td: TableData,
            blockquote: Blockquote,
            img: Img,
            p: Paragraph,
        }}
    />
    {
        headings &&
            <TableOfContent url={`/works/${slug}`} headings={headings} client:load />
    }
</BaseLayout>