---
export const prerender = true;
import { render } from "astro:content";
import { getEntry } from "astro:content";

import { ArrowLeft } from "@lucide/astro";

import Heading from "@component/Heading.astro";
import BaseLayout from "@layout/BaseLayout.astro";
import TableOfContent from "@component/TableOfContent";

import { MdxComponents } from "@component/MdxComponents";

import { getSortedWorks } from "@lib/content";
import { slugify } from "@lib/string";

export function getStaticPaths() {
    const allWorks = getSortedWorks();

    return Array.from(allWorks).map((work) => ({
        params: { slug: slugify(work.frontmatter.title) },
    }));
}

const dateObject: object = {
    year: "numeric",
    month: "long",
    day: "numeric",
};

const { slug } = Astro.params;
const work = await getEntry("works", slug);

if (!work.data.published) {
    return Astro.redirect("/404");
}

const { Content, headings } = await render(work);
---

<BaseLayout
    hasMath={true}
    pageTitle={work.data.title}
    pageDescription={`${work.data.title}: ${work.data.description}`}
>
    <a href="/works" class="w-fit flex font-semibold hover:underline"
        ><ArrowLeft class="my-auto mr-1" />Back</a
    >
    <div class="flex gap-2 mt-5 mb-2 text-slate-700">
        {work.data.tag && <p>{work.data.tag}</p>}
        <p>•</p>
        {
            work.data.publishedDate && (
                <div>
                    {new Date(work.data.publishedDate).toLocaleDateString(
                        "en-US",
                        dateObject,
                    )}
                </div>
            )
        }
    </div>
    <div class="mb-10">
        <Heading as="h1" weight="bold" class="lg:text-4xl text-3xl"
            >{work.data.title}</Heading
        >
        <p class="text-slate-600">{work.data.description}</p>
    </div>
    <Content components={MdxComponents} />
    {
        headings.length > 1 && (
            <TableOfContent
                url={`/works/${slug}`}
                headings={headings}
                client:load
            />
        )
    }
</BaseLayout>
