---
import BaseLayout from "@layout/BaseLayout.astro";
import ContentCard from "@component/ContentCard.astro";
import ExternalLink from "@component/ExternalLink.astro";
import Heading from "@component/Heading.astro"
import { getSortedPosts, getSortedWorks } from "@util/content";

const pageTitle = "Home";
const pageDescription = "I make machines learn, and I write about it"
const posts = getSortedPosts().slice(0, 3);
const works = getSortedWorks().slice(0, 3);
---

<BaseLayout pageTitle={pageTitle} pageDescription={pageDescription}>
  <div class="grid grid-col gap-10">
    <div class="grid grid-col">
      <Heading as="h1" size="2xl" weight="bold">Bijon Setyawan Raya</Heading>
      <div class="text-slate-600 text-lg">{ pageDescription }</div>
      <div>Get my resume <ExternalLink text="here" url="/resume.pdf" /></div>
    </div>

    <div class="grid grid-col gap-3">
      <Heading as="h2" size="lg" weight="bold">Selected Works</Heading>
      { works.map((work) => <ContentCard path={work.url} frontmatter={work.frontmatter} type="works" />) }
      <a
        aria-label="See more works"
        href="/works"
        class="w-fit underline"
      >
        See more
      </a>
    </div>
    
    <div class="grid grid-col gap-3">
      <Heading as="h2" size="lg" weight="bold">Latest Posts</Heading>
      { posts.map((post) => <ContentCard path={post.url} frontmatter={post.frontmatter} type="posts" />) }
      <a
        aria-label="See more posts"
        href="/posts"
        class="w-fit underline"
      >
        See more
      </a>
    </div>
  </div>
</BaseLayout>
