---
import BaseLayout from "@layout/BaseLayout.astro";
import ContentCard from "@component/ContentCard.astro";
import Heading from "@component/Heading.astro";
import { getSortedPosts } from "@lib/content";

const pageTitle = "Posts";
const pageDescription = "A collection of posts written by Bijon Setyawan Raya.";
const posts = getSortedPosts();
---

<BaseLayout pageTitle={pageTitle} pageDescription={pageDescription}>
  <Heading as="h2" size="xl" class="mb-5">Latest {pageTitle}</Heading>
  <div class="grid grid-col gap-5">
    {
      posts.map((post) =>
        <ContentCard path={post.url} frontmatter={post.frontmatter} type="posts" />        
      )
    }
  </div>
</BaseLayout>

