---
import { pwaInfo } from 'virtual:pwa-info';

const {
	pageTitle,
	pageDescription,
	keywords,
	publishedDate,
} = Astro.props;

const { url, site } = Astro;
const author = import.meta.env.AUTHOR;
const modifiedPageTitle = pageTitle ? `${pageTitle} | ${author}` : author;
const keywordsString = keywords ? keywords.join(", ") : "";
---

<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="author" content={ import.meta.env.AUTHOR }>
	<meta name="generator" content={Astro.generator}>
	<link href="https://github.com/bsraya" rel="me">
	<link rel="icon" type="image/png" href="/favicon.png" >
    <link rel="apple-touch-icon" href="/icon-192x192.png" >
	<link rel="mask-icon" href="/favicon.png" color="#FFFFFF">
	<meta name="msapplication-TileColor" content="#FFFFFF">
    <meta name="theme-color" content="#FFFFFF" >
	<link rel="manifest" href="/manifest.webmanifest">
	<meta name="keywords" content={keywordsString}>
	<title>{ modifiedPageTitle }</title>
	<link rel="canonical" href={url.href}>
	<link
		rel="stylesheet"
		href="https://cdn.jsdelivr.net/npm/katex@0.16.11/dist/katex.min.css"
		integrity="sha384-nB0miv6/jRmo5UMMR1wu3Gz6NLsoTkbqJghGIsx//Rlm+ZU03BU6SQNC66uf4l5+"
		crossorigin="anonymous"
	>

	{ pwaInfo && <Fragment set:html={pwaInfo.webManifest.linkTag} /> }
    <script src="/src/pwa.ts"></script>
</head>
