---
export const prerender = true;
import ContentCard from "@component/ContentCard.astro";
import BaseLayout from "@layout/BaseLayout.astro";
import Heading from "@component/Heading.astro";

import { ArrowLeft } from "@lucide/astro";

import { slugify, deslugify } from "@lib/string";
import { getAllPosts, getPostsByTag } from "@lib/content";

export function getStaticPaths() {
  const tags = new Set<string>();
  const posts = getAllPosts();

  for (const post of posts) {
    if (post.frontmatter.tag) {
      tags.add(slugify(post.frontmatter.tag));
    }
  }

  return Array.from(tags).map((tag) => ({
    params: { tag: tag },
  }));
}
const { tag } = Astro.params;
const pageTitle = `${slugify(tag)} posts`;
const pageDescription = `${slugify(tag)} posts written by ${import.meta.env.AUTHOR}.`;
const allPosts = getPostsByTag(tag);
---

<BaseLayout pageTitle={pageTitle} pageDescription={pageDescription}>
  <a href="/posts" class="flex font-semibold hover:underline"
    ><ArrowLeft class="my-auto mr-1" />All posts</a
  >
  <div class="flex flex-row gap-2 my-5 2xl">
    <Heading as="h1">Posts tagged with</Heading><Heading
      as="h1"
      weight="bold"
      class="underline">{deslugify(tag)}</Heading
    >
  </div>
  <div class="grid grid-col gap-5">
    {
      allPosts.map((post) => (
        <ContentCard
          path={post.url}
          frontmatter={post.frontmatter}
          type="posts"
        />
      ))
    }
  </div>
</BaseLayout>
