---
import "../styles/global.css";
import Head from "../components/Head.astro";
import Footer from "../components/Footer.astro";
import BackToTop from "../components/BackToTop.astro";
import Navigation from "../components/Navigation.astro";

const { 
  pageTitle,
  pageDescription,
  keywords,
  author,
  publishedDate,
  ogImageUrlRelative,
} = Astro.props;
---

<html lang="en" data-theme="lofi">
  <Head
		pageTitle={pageTitle}
		pageDescription={pageDescription}
		keywords={keywords}
		author={author}
		publishedDate={publishedDate}
		ogImageUrlRelative={ogImageUrlRelative}
	/>
	<body class="h-full mx-auto max-w-2xl p-5">
    <Navigation />
    <slot />
    <BackToTop />
    <Footer />
  </body>
</html>
