---
import "../styles/global.css";
import Head from "@component/Head.astro";
import Footer from "@component/Footer.astro";
import BackToTop from "@component/BackToTop";
import Navigation from "@component/Navigation.astro";

const {
  pageTitle,
  pageDescription,
  keywords,
  hasMath = false,
  ogType,
  publishedDate,
  modifiedDate,
  articleTag,
  schema,
} = Astro.props;
---

<!doctype html>
<html lang="en" data-theme="lofi">
  <Head
    pageTitle={pageTitle}
    pageDescription={pageDescription}
    keywords={keywords}
    hasMath={hasMath}
    ogType={ogType}
    publishedDate={publishedDate}
    modifiedDate={modifiedDate}
    articleTag={articleTag}
    schema={schema}
  />
  <body class="h-full mx-auto max-w-2xl p-5">
    <Navigation />
    <main>
      <slot />
    </main>
    <BackToTop client:visible />
    <Footer />
  </body>
</html>
